<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CpuCounter" value="Processor"/>
    <add key="MonitorCpu" value="True"/>
    <add key="MonitorMemory" value="True"/>
    <add key="MonitorDisk" value="True"/>
    <add key="MonitorWeb" value="False"/>
    <add key="MonitorSQL" value="False"/>
    <!--Per Sec-->
    <add key="MonitoringCycle" value="60"/>
  </appSettings>
</configuration>