<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MonitoringServerName" value="APIServer"/>
    <add key="CpuCounter" value="Processor"/>
    <add key="MonitorCpu" value="True"/>
    <add key="MonitorMemory" value="True"/>
    <add key="MonitorDisk" value="True"/>
    <add key="MonitorWeb" value="False"/>
    <add key="MonitorSQL" value="False"/>
    <!--Per Sec-->
    <add key="MonitoringCycle" value="1"/>
    <add key="MonitoringSaveDay" value="30"/>
  </appSettings>
</configuration>